{
  "swagger": "2.0",
  "info": {
    "title": "Translatio API",
    "version": "1.1",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "Sergii Sadovyi",
      "email": "s.sadovyi@deepvision.team"
    },
    "description": "Sabbath School API"
  },
  "host": "api.ss.deepvision.team",
  "definitions": {
    "m:project": {
      "type": "object",
      "title": "Project",
      "additionalProperties": false,
      "x-pcg": {
        "rest-alias": "projects",
        "pagination": true,
        "sort": {
          "default": "name.asc"
        },
        "relations": {
          "hasMany": [
            {
              "model": "m:group",
              "type": "submodel"
            }
          ]
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "example": "{string:7}"
        },
        "name": {
          "$ref": "#/definitions/sm:mlvalue",
          "example": {
            "en": "Heroes"
          },
          "x-pcg": {
            "ml": true,
            "searchable": true
          }
        }
      },
      "required": [
        "id",
        "name"
      ]
    },
    "m:group": {
      "type": "object",
      "title": "Group",
      "additionalProperties": false,
      "x-pcg": {
        "rest-alias": "groups",
        "pagination": true,
        "sort": {
          "default": "name.asc"
        },
        "relations": {
          "belongsTo": [
            {
              "model": "m:project",
              "as": "submodel"
            }
          ],
          "hasMany": [
            {
              "model": "m:question",
              "type": "submodel"
            }
          ]
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "x-pcg": {
            "generated": true
          }
        },
        "name": {
          "$ref": "#/definitions/sm:mlvalue",
          "example": {
            "en": "Group"
          },
          "x-pcg": {
            "ml": true,
            "searchable": true
          }
        },
        "projectId": {
          "type": "string",
          "minLength": 1
        },
        "statistic": {
          "type": "object",
          "properties": {
            "totalQuastions": {
              "type": "number",
              "minimum": 0
            },
            "completedQuestions": {
              "type": "number",
              "minimum": 0
            }
          },
          "x-pcg": {
            "internal": true
          }
        }
      },
      "required": [
        "id",
        "name"
      ]
    },
    "m:question": {
      "type": "object",
      "title": "Question",
      "additionalProperties": false,
      "x-pcg": {
        "multilang": "none",
        "rest-alias": "questions",
        "pagination": true,
        "sort": {
          "default": "text.asc"
        },
        "relations": {
          "belongsTo": [
            {
              "model": "m:group",
              "as": "submodel"
            }
          ]
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "example": "HQ{string:7}"
        },
        "text": {
          "type": "string",
          "minLength": 1,
          "example": "Some text"
        },
        "reference": {
          "type": "string",
          "minLength": 1,
          "example": "Some text"
        },
        "line": {
          "type": "integer",
          "minimum": 0,
          "example": 2
        },
        "progress": {
          "type": "object",
          "x-pcg": {
            "internal": true
          }
        },
        "level": {
          "type": "number",
          "minimum": 0,
          "default": 0,
          "x-pcg": {
            "sortable": true,
            "internal": true
          }
        },
        "votes": {
          "type": "integer",
          "minimum": 0,
          "default": 0,
          "x-pcg": {
            "internal": true
          }
        },
        "cleared": {
          "type": "boolean",
          "default": false
        },
        "groupId": {
          "type": "string",
          "minLength": 1
        },
        "answers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/m:answer"
          }
        }
      },
      "required": [
        "id",
        "text",
        "reference",
        "line",
        "level",
        "answers"
      ]
    },
    "m:answer": {
      "type": "object",
      "title": "Element Bot",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "example": "HQ{string:7}"
        },
        "text": {
          "type": "string",
          "minLength": 1
        }
      }
    },
    "m:translation": {
      "type": "object",
      "title": "Translation",
      "additionalProperties": false,
      "x-pcg": {
        "multilang": "none",
        "rest-alias": "translations",
        "pagination": true,
        "sort": {
          "default": "lang.asc"
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "x-pcg": {
            "generated": true
          }
        },
        "lang": {
          "type": "string",
          "minLength": 1,
          "example": "ru",
          "x-pcg": {
            "filterable": true
          }
        },
        "type": {
          "type": "string",
          "minLength": 1,
          "default": "manual",
          "enum": [
            "imported",
            "auto",
            "manual"
          ],
          "x-pcg": {
            "filterable": true
          }
        },
        "target": {
          "type": "string",
          "minLength": 1,
          "example": "question",
          "enum": [
            "question",
            "answer"
          ],
          "x-pcg": {
            "filterable": true
          }
        },
        "ref": {
          "type": "string",
          "minLength": 1,
          "example": "Some text",
          "x-pcg": {
            "filterable": true
          }
        },
        "text": {
          "type": "string",
          "minLength": 1,
          "example": "Some text"
        },
        "votes": {
          "type": "number",
          "minimum": 0,
          "default": 0,
          "x-pcg": {
            "sortable": true,
            "internal": true
          }
        }
      },
      "required": [
        "id",
        "lang",
        "type",
        "target",
        "ref",
        "text"
      ]
    },
    "m:language": {
      "type": "object",
      "title": "Language",
      "description": "The properties that are shared amongst all versions of the Language model.",
      "additionalProperties": false,
      "x-pcg": {
        "rest-alias": "languages",
        "pagination": true,
        "sort": {
          "default": "index.asc"
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "example": "{string:8}"
        },
        "title": {
          "$ref": "#/definitions/sm:mlvalue",
          "example": {
            "en": "English"
          },
          "minLength": 1,
          "x-pcg": {
            "ml": true,
            "searchable": true
          }
        },
        "index": {
          "type": "integer",
          "minimum": 0,
          "x-pcg": {
            "index": true
          }
        },
        "active": {
          "type": "boolean",
          "default": false,
          "x-pcg": {
            "filterable": true
          }
        },
        "bible": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "minLength": 1,
              "example": "KJV"
            },
            "yvid": {
              "type": "string",
              "example": "100",
              "minLength": 1
            },
            "available": {
              "type": "boolean",
              "example": true
            }
          }
        }
      },
      "required": [
        "id",
        "title"
      ]
    },
    "m:session": {
      "type": "object",
      "title": "Session",
      "additionalProperties": false,
      "x-pcg": {
        "multilang": "none",
        "rest-alias": "sessions",
        "pagination": true,
        "relations": {
          "belongsTo": [
            {
              "remote": true,
              "property": "user",
              "as": "model"
            }
          ]
        },
        "sort": {
          "default": "name.asc"
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "x-pcg": {
            "generated": true
          }
        },
        "finished": {
          "type": "boolean",
          "default": false,
          "x-pcg": {
            "filterable": true
          }
        },
        "language": {
          "type": "string",
          "example": "ru",
          "minLength": 1
        },
        "progress": {
          "type": "object",
          "x-pcg": {
            "internal": true
          }
        },
        "votedQuestions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-pcg": {
            "internal": true
          }
        },
        "totalTranslations": {
          "type": "number",
          "minimum": 0,
          "x-pcg": {
            "internal": true
          }
        },
        "approvedTranslations": {
          "type": "number",
          "minimum": 0,
          "x-pcg": {
            "internal": true
          }
        },
        "dateCreated": {
          "type": "string",
          "format": "date-time",
          "example": "2019-08-19T16:44:02.647Z",
          "x-pcg": {
            "sortable": true
          }
        },
        "user": {
          "x-pcg": {
            "filterable": true
          },
          "type": "object"
        },
        "questions": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "x-pcg": {
            "internal": true
          }
        }
      },
      "required": [
        "id"
      ]
    },
    "m:event": {
      "type": "object",
      "title": "Event",
      "additionalProperties": false,
      "x-pcg": {
        "multilang": "none",
        "rest-alias": "events",
        "pagination": true,
        "sort": {
          "default": "dateCreated.asc"
        },
        "relations": {
          "belongsTo": [
            {
              "remote": true,
              "property": "user",
              "as": "model"
            }
          ]
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "x-pcg": {
            "generated": true
          }
        },
        "dateCreated": {
          "type": "string",
          "format": "date-time",
          "x-pcg": {
            "sortable": true
          }
        },
        "name": {
          "type": "string",
          "description": "Name of Event",
          "x-pcg": {
            "filterable": true
          },
          "example": "translation-add",
          "enum": [
            "translation-add",
            "translation-approve"
          ]
        },
        "props": {
          "type": "object",
          "example": {
            "id": "23rksl34"
          }
        },
        "user": {
          "x-pcg": {
            "filterable": true
          },
          "type": "object"
        }
      },
      "required": [
        "id",
        "dateCreated",
        "name",
        "props"
      ]
    },
    "m:export-process": {
      "type": "object",
      "title": "Export Process",
      "additionalProperties": false,
      "x-pcg": {
        "multilang": "none",
        "rest-alias": "export-processes",
        "pagination": true,
        "sort": {
          "default": "dateCreated.asc"
        }
      },
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "x-pcg": {
            "generated": true
          }
        },
        "dateCreated": {
          "type": "string",
          "format": "date-time",
          "x-pcg": {
            "sortable": true
          }
        },
        "status": {
          "type": "string",
          "default": "active",
          "enum": [
            "active",
            "done",
            "failed"
          ]
        }
      },
      "required": [
        "id",
        "dateCreated"
      ]
    },
    "sm:page-meta": {
      "type": "object",
      "title": "Shared: Page Meta",
      "properties": {
        "total": {
          "type": "number"
        },
        "limit": {
          "type": "number"
        },
        "offset": {
          "type": "number"
        }
      },
      "required": [
        "total"
      ]
    },
    "sm:mlvalue": {
      "type": [
        "object",
        "string"
      ],
      "title": "Shared: mlvalue",
      "description": "Multilang string"
    },
    "sm:mldata": {
      "type": "object",
      "properties": {},
      "title": "Shared: MLData",
      "description": "Multilang object"
    },
    "sm:file": {
      "type": "object",
      "title": "Shared: File",
      "additionalProperties": false,
      "description": "File Model",
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1,
          "description": "File ID"
        },
        "name": {
          "type": "string",
          "minLength": 1,
          "description": "File name"
        },
        "ext": {
          "type": "string",
          "minLength": 1,
          "description": "File extension"
        },
        "url": {
          "type": "string",
          "description": "File URL on the server",
          "format": "uri"
        },
        "size": {
          "type": "number",
          "description": "File size (bytes)"
        },
        "created": {
          "type": "string",
          "format": "date-time"
        },
        "modified": {
          "type": "string",
          "format": "date-time"
        },
        "mimeType": {
          "type": "string",
          "description": "Media type of File",
          "pattern": "^.+\\/.+$"
        },
        "props": {
          "type": "object",
          "properties": {
            "parentId": {
              "type": "string",
              "minLength": 1
            },
            "parentUrl": {
              "type": "string",
              "format": "uri"
            },
            "cropMask": {
              "type": "string",
              "minLength": 1
            }
          }
        }
      },
      "required": [
        "id",
        "url",
        "mimeType"
      ]
    },
    "m:project-input": {
      "type": "object",
      "title": "Project (Input)",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1
        },
        "name": {
          "$ref": "#/definitions/sm:mldata"
        }
      },
      "required": [
        "id",
        "name"
      ]
    },
    "m:project-update-input": {
      "type": "object",
      "title": "Project (Update Input)",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1
        },
        "name": {
          "$ref": "#/definitions/sm:mldata"
        }
      }
    },
    "m:group-input": {
      "type": "object",
      "title": "Group (Input)",
      "additionalProperties": false,
      "properties": {
        "name": {
          "$ref": "#/definitions/sm:mldata"
        }
      },
      "required": [
        "name"
      ]
    },
    "m:group-update-input": {
      "type": "object",
      "title": "Group (Update Input)",
      "additionalProperties": false,
      "properties": {
        "name": {
          "$ref": "#/definitions/sm:mldata"
        }
      }
    },
    "m:question-input": {
      "type": "object",
      "title": "Question (Input)",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1
        },
        "text": {
          "type": "string",
          "minLength": 1
        },
        "reference": {
          "type": "string",
          "minLength": 1
        },
        "line": {
          "type": "integer",
          "minimum": 0
        },
        "cleared": {
          "type": "boolean"
        },
        "answers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/m:answer"
          }
        }
      },
      "required": [
        "id",
        "text",
        "reference",
        "line",
        "answers"
      ]
    },
    "m:question-update-input": {
      "type": "object",
      "title": "Question (Update Input)",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1
        },
        "text": {
          "type": "string",
          "minLength": 1
        },
        "reference": {
          "type": "string",
          "minLength": 1
        },
        "line": {
          "type": "integer",
          "minimum": 0
        },
        "cleared": {
          "type": "boolean"
        },
        "answers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/m:answer"
          }
        }
      }
    },
    "m:translation-input": {
      "type": "object",
      "title": "Translation (Input)",
      "additionalProperties": false,
      "properties": {
        "lang": {
          "type": "string",
          "minLength": 1
        },
        "type": {
          "type": "string",
          "minLength": 1,
          "enum": [
            "imported",
            "auto",
            "manual"
          ]
        },
        "target": {
          "type": "string",
          "minLength": 1,
          "enum": [
            "question",
            "answer"
          ]
        },
        "ref": {
          "type": "string",
          "minLength": 1
        },
        "text": {
          "type": "string",
          "minLength": 1
        }
      },
      "required": [
        "lang",
        "type",
        "target",
        "ref",
        "text"
      ]
    },
    "m:translation-update-input": {
      "type": "object",
      "title": "Translation (Update Input)",
      "additionalProperties": false,
      "properties": {
        "lang": {
          "type": "string",
          "minLength": 1
        },
        "type": {
          "type": "string",
          "minLength": 1,
          "enum": [
            "imported",
            "auto",
            "manual"
          ]
        },
        "target": {
          "type": "string",
          "minLength": 1,
          "enum": [
            "question",
            "answer"
          ]
        },
        "ref": {
          "type": "string",
          "minLength": 1
        },
        "text": {
          "type": "string",
          "minLength": 1
        }
      }
    },
    "m:language-input": {
      "type": "object",
      "title": "Language (Input)",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1
        },
        "title": {
          "$ref": "#/definitions/sm:mldata"
        },
        "index": {
          "type": "integer",
          "minimum": 0
        },
        "active": {
          "type": "boolean"
        },
        "bible": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "minLength": 1
            },
            "yvid": {
              "type": "string",
              "minLength": 1
            },
            "available": {
              "type": "boolean"
            }
          }
        }
      },
      "required": [
        "id",
        "title"
      ]
    },
    "m:language-update-input": {
      "type": "object",
      "title": "Language (Update Input)",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "minLength": 1
        },
        "title": {
          "$ref": "#/definitions/sm:mldata"
        },
        "index": {
          "type": "integer",
          "minimum": 0
        },
        "active": {
          "type": "boolean"
        },
        "bible": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "minLength": 1
            },
            "yvid": {
              "type": "string",
              "minLength": 1
            },
            "available": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "m:session-input": {
      "type": "object",
      "title": "Session (Input)",
      "additionalProperties": false,
      "properties": {
        "finished": {
          "type": "boolean"
        },
        "language": {
          "type": "string",
          "minLength": 1
        },
        "userId": {
          "type": "string",
          "minLength": 1
        }
      }
    },
    "m:session-update-input": {
      "type": "object",
      "title": "Session (Update Input)",
      "additionalProperties": false,
      "properties": {
        "finished": {
          "type": "boolean"
        },
        "language": {
          "type": "string",
          "minLength": 1
        },
        "userId": {
          "type": "string",
          "minLength": 1
        }
      }
    },
    "m:event-input": {
      "type": "object",
      "title": "Event (Input)",
      "additionalProperties": false,
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of Event",
          "enum": [
            "translation-add",
            "translation-approve"
          ]
        },
        "props": {
          "type": "object"
        },
        "userId": {
          "type": "string",
          "minLength": 1
        }
      },
      "required": [
        "name",
        "props"
      ]
    },
    "m:event-update-input": {
      "type": "object",
      "title": "Event (Update Input)",
      "additionalProperties": false,
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of Event",
          "enum": [
            "translation-add",
            "translation-approve"
          ]
        },
        "props": {
          "type": "object"
        },
        "userId": {
          "type": "string",
          "minLength": 1
        }
      }
    },
    "m:export-process-input": {
      "type": "object",
      "title": "Export Process (Input)",
      "additionalProperties": false,
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "active",
            "done",
            "failed"
          ]
        }
      }
    },
    "m:export-process-update-input": {
      "type": "object",
      "title": "Export Process (Update Input)",
      "additionalProperties": false,
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "active",
            "done",
            "failed"
          ]
        }
      }
    }
  },
  "parameters": {
    "limit": {
      "name": "limit",
      "in": "query",
      "type": "integer",
      "default": 10,
      "maximum": 200,
      "minimum": 1
    },
    "id": {
      "name": "id",
      "in": "path",
      "type": "string",
      "required": true,
      "minLength": 1
    },
    "subid": {
      "name": "subid",
      "in": "path",
      "type": "string",
      "required": true,
      "minLength": 1
    },
    "offset": {
      "name": "offset",
      "in": "query",
      "type": "integer",
      "minimum": 0,
      "default": 0
    },
    "text": {
      "name": "text",
      "in": "query",
      "type": "string",
      "maxLength": 100
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/translations/{id}": {
      "get": {
        "summary": "Get Translation",
        "operationId": "translation:get",
        "x-pcg": {
          "model": "m:translation",
          "action": "get"
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:translation"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Translation",
        "operationId": "translation:update",
        "x-pcg": {
          "model": "m:translation",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:translation-update-input"
            },
            "x-examples": {
              "application/json": {
                "lang": "ru",
                "type": "manual",
                "target": "question",
                "ref": "Some text",
                "text": "Some text"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:translation"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Translation",
        "operationId": "translation:delete",
        "x-pcg": {
          "model": "m:translation",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/translations": {
      "get": {
        "summary": "List Translation",
        "operationId": "translation:list",
        "x-pcg": {
          "model": "m:translation",
          "action": "list"
        },
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "lang.asc",
            "enum": [
              "votes.asc",
              "votes.desc"
            ]
          },
          {
            "in": "query",
            "name": "lang",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "imported",
                "auto",
                "manual"
              ]
            }
          },
          {
            "in": "query",
            "name": "target",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "question",
                "answer"
              ]
            }
          },
          {
            "in": "query",
            "name": "ref",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "translations": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:translation"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "translations",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Create Translation",
        "operationId": "translation:create",
        "x-pcg": {
          "model": "m:translation",
          "action": "create"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:translation-input"
            },
            "x-examples": {
              "application/json": {
                "lang": "ru",
                "type": "manual",
                "target": "question",
                "ref": "Some text",
                "text": "Some text"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:translation"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/translations/{id}/approve": {
      "get": {
        "summary": "Approve Translation",
        "operationId": "translation:approve",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "votes": {
                  "type": "number",
                  "minimum": 0
                },
                "session": {
                  "type": "object",
                  "properties": {
                    "approved": {
                      "type": "number",
                      "minimum": 0
                    },
                    "total": {
                      "type": "number",
                      "minimum": 0
                    },
                    "finished": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/sessions/{id}": {
      "get": {
        "summary": "Get Session",
        "operationId": "session:get",
        "x-pcg": {
          "model": "m:session",
          "action": "get"
        },
        "parameters": [
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:session"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Session",
        "operationId": "session:update",
        "x-pcg": {
          "model": "m:session",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:session-update-input"
            },
            "x-examples": {
              "application/json": {
                "finished": false,
                "language": "ru"
              }
            }
          },
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:session"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Session",
        "operationId": "session:delete",
        "x-pcg": {
          "model": "m:session",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/sessions/current": {
      "get": {
        "summary": "Get Current Session",
        "operationId": "session:current",
        "parameters": [
          {
            "in": "query",
            "name": "relations",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:session"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/sessions/current/finish": {
      "get": {
        "summary": "Finish Current Session",
        "operationId": "session:finish-current",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:session"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/sessions/current/exists": {
      "get": {
        "summary": "Checks Current Session is exists",
        "operationId": "session:current-exists",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "exists": {
                  "type": "boolean"
                }
              }
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/sessions": {
      "get": {
        "summary": "List Session",
        "operationId": "session:list",
        "x-pcg": {
          "model": "m:session",
          "action": "list"
        },
        "parameters": [
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "none"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "name.asc",
            "enum": [
              "dateCreated.asc",
              "dateCreated.desc"
            ]
          },
          {
            "in": "query",
            "name": "finished",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "user",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "sessions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:session"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "sessions",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Create Session",
        "operationId": "session:create",
        "x-pcg": {
          "model": "m:session",
          "action": "create"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:session-input"
            },
            "x-examples": {
              "application/json": {
                "finished": false,
                "language": "ru"
              }
            }
          },
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "all"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:session"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get Project",
        "operationId": "project:get",
        "x-pcg": {
          "model": "m:project",
          "action": "get"
        },
        "parameters": [
          {
            "in": "query",
            "name": "ml",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:project"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Project",
        "operationId": "project:update",
        "x-pcg": {
          "model": "m:project",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:project-update-input"
            },
            "x-examples": {
              "application/json": {
                "id": "WyJpZCI2",
                "name": {
                  "en": "Heroes"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean",
            "default": true
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:project"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Project",
        "operationId": "project:delete",
        "x-pcg": {
          "model": "m:project",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/projects": {
      "get": {
        "summary": "List Project",
        "operationId": "project:list",
        "x-pcg": {
          "model": "m:project",
          "action": "list"
        },
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "name.asc"
          },
          {
            "$ref": "#/parameters/text"
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:project"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "projects",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Create Project",
        "operationId": "project:create",
        "x-pcg": {
          "model": "m:project",
          "action": "create"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:project-input"
            },
            "x-examples": {
              "application/json": {
                "id": "WyJpZCI1",
                "name": {
                  "en": "Heroes"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean",
            "default": true
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:project"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/projects/{id}/groups": {
      "get": {
        "summary": "List Groups",
        "operationId": "project:list-groups",
        "x-pcg": {
          "model": "m:project",
          "action": "list-child",
          "submodel": {
            "name": "m:group"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "name.asc"
          },
          {
            "$ref": "#/parameters/text"
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "groups": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:group"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "groups",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "post": {
        "summary": "Create Group",
        "operationId": "project:create-group",
        "x-pcg": {
          "model": "m:project",
          "action": "create-child",
          "submodel": {
            "name": "m:group"
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:group-input"
            },
            "x-examples": {
              "application/json": {
                "name": {
                  "en": "Group"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean",
            "default": true
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:group"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "Get Group",
        "operationId": "group:get",
        "x-pcg": {
          "model": "m:group",
          "action": "get"
        },
        "parameters": [
          {
            "in": "query",
            "name": "ml",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:group"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Group",
        "operationId": "group:update",
        "x-pcg": {
          "model": "m:group",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:group-update-input"
            },
            "x-examples": {
              "application/json": {
                "name": {
                  "en": "Group"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean",
            "default": true
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:group"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Group",
        "operationId": "group:delete",
        "x-pcg": {
          "model": "m:group",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/groups/{id}/questions": {
      "get": {
        "summary": "List Questions",
        "operationId": "group:list-questions",
        "x-pcg": {
          "model": "m:group",
          "action": "list-child",
          "submodel": {
            "name": "m:question"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "text.asc",
            "enum": [
              "level.asc",
              "level.desc"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "questions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:question"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "questions",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ],
      "post": {
        "summary": "Create Question",
        "operationId": "group:create-question",
        "x-pcg": {
          "model": "m:group",
          "action": "create-child",
          "submodel": {
            "name": "m:question"
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:question-input"
            },
            "x-examples": {
              "application/json": {
                "id": "HQWyJpZCI4",
                "text": "Some text",
                "reference": "Some text",
                "line": 2,
                "cleared": false,
                "answers": []
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:question"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/questions/{id}": {
      "get": {
        "summary": "Get Question",
        "operationId": "question:get",
        "x-pcg": {
          "model": "m:question",
          "action": "get"
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:question"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Question",
        "operationId": "question:update",
        "x-pcg": {
          "model": "m:question",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:question-update-input"
            },
            "x-examples": {
              "application/json": {
                "id": "HQWyJpZCI5",
                "text": "Some text",
                "reference": "Some text",
                "line": 2,
                "cleared": false,
                "answers": []
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:question"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Question",
        "operationId": "question:delete",
        "x-pcg": {
          "model": "m:question",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/questions/{id}/vote": {
      "get": {
        "summary": "Vote (complexity)",
        "operationId": "question:vote",
        "parameters": [
          {
            "in": "query",
            "name": "level",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "rating": {
                  "type": "number",
                  "minimum": 0
                }
              }
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/languages/{id}": {
      "get": {
        "summary": "Get Language",
        "operationId": "language:get",
        "x-pcg": {
          "model": "m:language",
          "action": "get"
        },
        "parameters": [
          {
            "in": "query",
            "name": "ml",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:language"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Language",
        "operationId": "language:update",
        "x-pcg": {
          "model": "m:language",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:language-update-input"
            },
            "x-examples": {
              "application/json": {
                "id": "WyJpZCIs7",
                "title": {
                  "en": "English"
                },
                "index": 0,
                "active": false,
                "bible": {
                  "id": "KJV",
                  "yvid": "100",
                  "available": true
                }
              }
            }
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean",
            "default": true
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:language"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Language",
        "operationId": "language:delete",
        "x-pcg": {
          "model": "m:language",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/languages": {
      "get": {
        "summary": "List Language",
        "operationId": "language:list",
        "x-pcg": {
          "model": "m:language",
          "action": "list"
        },
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "index.asc",
            "enum": [
              "index.asc",
              "index.desc"
            ]
          },
          {
            "$ref": "#/parameters/text"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "languages": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:language"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "languages",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Create Language",
        "operationId": "language:create",
        "x-pcg": {
          "model": "m:language",
          "action": "create"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:language-input"
            },
            "x-examples": {
              "application/json": {
                "id": "WyJpZCIs6",
                "title": {
                  "en": "English"
                },
                "index": 0,
                "active": false,
                "bible": {
                  "id": "KJV",
                  "yvid": "100",
                  "available": true
                }
              }
            }
          },
          {
            "in": "query",
            "name": "ml",
            "type": "boolean",
            "default": true
          },
          {
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:language"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/languages/reorder": {
      "post": {
        "summary": "Reorder Languages",
        "x-pcg": {
          "model": "m:language",
          "action": "reorder"
        },
        "description": "Changing an order of Languages",
        "operationId": "language:reorder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "minProperties": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string"
                },
                "meta": {
                  "minProperties": 1
                }
              },
              "required": [
                "state"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "summary": "Get Event",
        "operationId": "event:get",
        "x-pcg": {
          "model": "m:event",
          "action": "get"
        },
        "parameters": [
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:event"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Event",
        "operationId": "event:update",
        "x-pcg": {
          "model": "m:event",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:event-update-input"
            },
            "x-examples": {
              "application/json": {
                "name": "translation-add",
                "props": {
                  "id": "23rksl34"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:event"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Event",
        "operationId": "event:delete",
        "x-pcg": {
          "model": "m:event",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/events": {
      "get": {
        "summary": "List Event",
        "operationId": "event:list",
        "x-pcg": {
          "model": "m:event",
          "action": "list"
        },
        "parameters": [
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "none"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "dateCreated.asc",
            "enum": [
              "dateCreated.asc",
              "dateCreated.desc"
            ]
          },
          {
            "in": "query",
            "name": "name",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "translation-add",
                "translation-approve"
              ]
            }
          },
          {
            "in": "query",
            "name": "user",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:event"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "events",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Create Event",
        "operationId": "event:create",
        "x-pcg": {
          "model": "m:event",
          "action": "create"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:event-input"
            },
            "x-examples": {
              "application/json": {
                "name": "translation-add",
                "props": {
                  "id": "23rksl34"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "rel",
            "type": "string",
            "default": "all"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:event"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/events/activity/groups": {
      "get": {
        "summary": "Events: Get Groups Activity",
        "operationId": "events:get-groups-activity",
        "parameters": [
          {
            "in": "query",
            "name": "user",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "groups": {
                  "type": "object"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "total"
                  ]
                }
              },
              "required": [
                "days",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/events/statistic": {
      "get": {
        "summary": "Events: Get Statistic",
        "operationId": "events:get-statistic",
        "parameters": [
          {
            "in": "query",
            "name": "user",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "approvedTranslations": {
                  "type": "integer"
                },
                "addedTranslations": {
                  "type": "integer"
                }
              },
              "required": [
                "approvedTranslations",
                "addedTranslations"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    },
    "/export-processes/{id}": {
      "get": {
        "summary": "Get Export Process",
        "operationId": "export-process:get",
        "x-pcg": {
          "model": "m:export-process",
          "action": "get"
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:export-process"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Export Process",
        "operationId": "export-process:update",
        "x-pcg": {
          "model": "m:export-process",
          "action": "update"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:export-process-update-input"
            },
            "x-examples": {
              "application/json": {
                "status": "active"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:export-process"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "Delete Export Process",
        "operationId": "export-process:delete",
        "x-pcg": {
          "model": "m:export-process",
          "action": "delete"
        },
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/id"
        }
      ]
    },
    "/export-processes": {
      "get": {
        "summary": "List Export Process",
        "operationId": "export-process:list",
        "x-pcg": {
          "model": "m:export-process",
          "action": "list"
        },
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "default": "dateCreated.asc",
            "enum": [
              "dateCreated.asc",
              "dateCreated.desc"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "exportProcesses": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/m:export-process"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/sm:page-meta"
                }
              },
              "required": [
                "exportProcesses",
                "meta"
              ]
            }
          },
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Create Export Process",
        "operationId": "export-process:create",
        "x-pcg": {
          "model": "m:export-process",
          "action": "create"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/m:export-process-input"
            },
            "x-examples": {
              "application/json": {
                "status": "active"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/m:export-process"
            }
          },
          "default": {
            "description": ""
          }
        }
      }
    }
  }
}
